@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&display=swap');

*{
    // background: red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Anek Latin', sans-serif;

}

.register{
    font-size: 24px;
    background: rgb(36,38,43);
    display:grid;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    label, span{
        align-items: center;
        justify-content: center;
        display:flex;
        color: white;

    }

    input{
        color: white;
        background: transparent;
        width: 100%;
        border: none;
        border-bottom: 1px solid #929da9;
        outline: none;
        padding-bottom: 5px;
        font-size: 15px;
        padding: 0.5rem 1rem 0.5rem 1rem;

    }
    button {
        border: none;
        font-weight: bold;
        color: white;
        padding: 9px 25px;
        background-color: rgba(43, 66, 71, 0.8);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    } 
    
    button:hover {
        background-color:#5ca3ff; 
    } 

    
    a{
        color: white;
        transition: all 0.3s ease 0s;

    }
    a:hover{
        color: #5ca3ff;
    }
}