@import url("http://fonts.cdnfonts.com/css/samsung-sharp-sans");
@import url("http://fonts.cdnfonts.com/css/samsungone");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Anek Latin', sans-serif;
  margin-top: 0.8rem;
  width: 100%;
  height: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header a, header ul {
  color: black;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 1.5rem 0 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header a:hover {
  color: #5ca3ff;
}

header button {
  font-weight: bold;
  color: white;
  padding: 9px 25px;
  background-color: #282d2e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 3.5rem;
}

header button:hover {
  background-color: #363e40;
}

header #logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 0.6rem;
  height: 6rem;
}

header #cart {
  margin-left: 4rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 3rem;
  cursor: pointer;
}

header #categories {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: black;
}

header #categories li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

header #rightside {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 18rem;
  right: 0;
  margin-right: 0.6rem;
}

header #rightside #reglog {
  padding-top: 2rem;
  margin-bottom: -1.6rem;
}

.product_showcase {
  font-family: 'SamsungOne', sans-serif;
  height: 20rem;
  border-radius: 8px;
  background: #e0e1e4;
  margin: 6rem 1rem 10rem 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.product_showcase #phone {
  width: 90%;
  margin-top: 1rem;
  margin-left: 1.3rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.product_showcase #phone:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.product_showcase .sidetext {
  margin-top: 1rem;
  margin-right: 1rem;
}

.product_showcase .sidetext #name {
  padding-left: 1rem;
  color: white;
  border: 1px solid #24262b;
  border-radius: 5px;
  background: #24262b;
}

.product_showcase .sidetext #description {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.product_showcase .sidetext .price {
  margin-top: 4.5rem;
}

.product_showcase .sidetext .price h3 {
  margin-top: 0.7rem;
  margin-right: 0.5rem;
  float: right;
}

.product_showcase .sidetext .price button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  font-weight: bold;
  color: white;
  padding: 9px 25px;
  background-color: #282d2e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 30%;
  height: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_showcase .sidetext .price button:hover {
  background-color: #363e40;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.footer .containerer {
  max-width: 1170px;
  margin: auto;
}

.footer .components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .column {
  width: 25%;
  padding: 0 15px;
}

.footer .column h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}

.footer .column h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #1ee9ce;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}

.footer .components ul {
  list-style: none;
}

.footer .column ul li {
  padding: 5px;
}

.footer .column ul li:not(:last-cild) {
  margin-bottom: 10px;
}

.footer .column ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .column ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer .column i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .column i:hover {
  color: #24262b;
  background-color: #fff;
}

.footer .Followus #facebook {
  width: 30%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  margin-right: 0.5rem;
}

.footer .Followus #insta {
  width: 31%;
  padding-top: 0.1rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.footer .Followus img:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
/*# sourceMappingURL=style.css.map */