#infoline{
    display: "flex";
    align-items: "center";
    justify-content: "center";
    margin-top: "3rem";
    margin-bottom: "6rem";
    margin-left: "35rem";
    margin-right: "35rem";
    border: "solid 1px";
    padding: "1.5rem 1rem"
}