.about1 {
    display: flex;
    justify-content: center;
}

.about1 .main1 .text{
    width: 600px;
    position: relative;
    top: -55%;
    left: 10%;
}

.about1 .main1 .text h1{
    font-size: 69px;
}

.about1 .main1 .text p{
   font-family: 'SamsungOne', sans-serif;
    font-size: 20px;
}

.about1 .main1 img {
    width: 100%;
}